@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-hover {
    @apply relative 
    transition
    before:absolute
    before:-bottom-2
    before:right-0
    before:h-[2px]
    before:w-0
    before:rounded-md
    before:bg-orange-200
    before:transition-all
    before:duration-500
    hover:before:left-0
    hover:before:w-full;
  }
}

html,
body {
  height: 100%;
}
